<div class="task-manager-container" *ngIf="showAll">
  <div class="sidebar" >
  <h1 class="title">
      <p class="text-secondary">
        Status
      </p>
  </h1>
  <div class="list-menu" *ngFor="let stat of stadList" >
     <a class="list-menu-item text-primary">
          <p  >  name: {{stat.name}} </p>
          <p  >  register: {{stat.register}} </p>
          <p *ngIf="!!stat.taskId">  link to task: {{stat.taskId}} </p>
          <div class="progress">
           <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
         </div>
     </a>
  </div>
  </div>
</div>
  <button class="btn btn-primary" *ngIf="showAll" (click)="showAll=false">+ New Stat</button>       

  <form class="example-form" *ngIf="!showAll" #stadform="ngForm" >
   <div class="addTask">
       <h1 class="text-muted">ADD YOUR STAD</h1>
       <input class="form-control form -control-lg" name="name" ngModel placeholder="NAME"> 
       <input class="form-control form -control-lg" name="register" ngModel placeholder="REGISTER">
       <input class="form-control form -control-lg" name="TaskId" ngModel placeholder="TaskId"> 
       <button class="btn btn-outline-info" (click)="addStad(stadform)" type="submit">save</button>
   </div>
</form>