.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}

.list-menu{
    
    margin: 10px;
    margin-left: 80px;
    padding: 30px;
    width: 30vw;
 }
 
 .top-rigth{
     display: flex;
     justify-content: space-around;
     justify-items: center;
     height: 40px;

 }
 .block{
     display: block;
 }

 .addTask{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    }
    
    .addTask > input{
        margin: 5px;
        padding: 8px;
        width: 450px;
    }    