<div class="task-manager-container">
   <div class="sidebar" >
   <h1 class="title">
       <p class="text-secondary">
         Category
       </p>
   </h1>
   <div class="list-menu" *ngFor="let categories of categoryList" >
      <a class="list-menu-item text-primary">
           <p  >  name: {{categories.name}} </p>
           <p  >  description: {{categories.description}} </p>
           <p *ngIf="!!categories.taskId">  link to task: {{categories.taskId}} </p>
           <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
           
      </a>
   </div>