<div class="centered_content" *ngIf="!showAll">
    <div class="task-manager-container">
        <div class="sidebar" >
        <h1 class="title">
            <p class="text-secondary">
               Tasks
            </p>
        </h1>
        <div class="list-menu" *ngFor="let tasks of taskList; let i = index" [attr.data-index]="i">
           <a class="list-menu-item text-primary">
           <div class="botonPlusTask">
               <p (click)="visible(i)">  {{tasks.name}} </p>
               <i (click)="delTask(tasks.id)" class="fa fa-trash"></i>
           </div> 
           </a>
        </div>
        <button class="btn btn-secondary disabled" (click)="showAll=true"  >+ New Task</button>
        </div>

        <div class="task-list-container">
        <h1 class="title">
           <p class="text-secondary">
            Task Description
           </p> 
        </h1>
        <div class="task">
            <p *ngIf="!showDescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, cum ex illo quis numquam similique dolor aspernatur ab quaerat laboriosam nobis molestiae eius saepe odit ipsa perspiciatis beatae nemo voluptatum!</p>
            <p class="text-primary" *ngIf="showDescription">{{ taskDescription }}</p>
            <div class="boton">
                <a class="btn btn-secondary " (click)="showCategory()"  role="button">Category</a>
                <a class="btn btn-secondary "  (click)="showUser()" role="button">User</a>
                <a class="btn btn-secondary " (click)="showStat()" role="button">Stat</a>
            </div>
            <div class="text">
               <div *ngIf="showcategory">
                   <p> name: {{taskcategory["name"] }} </p>
                   <p> description: {{taskcategory["description"] }} </p>
               </div>
               <div *ngIf="showstat">
                <p> name: {{taskstat["name"] }} </p>
                <p> register: {{taskstat["register"] }} </p>
            </div>
            <div *ngIf="showuser">
                <p> name: {{taskuser["name"] }} </p>
                <p> lastname: {{taskuser["lastname"]}} </p>
                <p> email: {{taskuser["email"] }} </p>
                <p> pasword: {{taskuser["password"] }} </p>
                <p> direction: {{taskuser["direction"]}} </p>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
<form class="example-form" *ngIf="showAll" #taskform="ngForm" >
    <div class="addTask">
        <h1 class="text-muted">ADD YOUR TASK</h1>
        <input class="form-control form -control-lg" name="name" ngModel placeholder="NAME"> 
        <input class="form-control form -control-lg" name="description" ngModel placeholder="DESCRIPTION">
        <input class="form-control form -control-lg" name="StadId" ngModel placeholder="statId">
        <input class="form-control form -control-lg" name="CategoryId" ngModel placeholder="categoryId">
        <input class="form-control form -control-lg" name="UserId" ngModel placeholder="userId"> 
        <button class="btn btn-outline-info" (click)="addTask(taskform)" type="submit">save</button>
        <!--   -->
    </div>
</form>